.Sidebar {
  width: 256px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.items {
  width: 100%;
}

.newFolder {
  width: 208px;
  height: 36px;
  margin-bottom: 10px;
  padding: 20px 24px 0 24px;
}

.newFolder button {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background: #b3d6ff;
  width: 100%;
  height: 100%;
}

.newFolder button p {
  font-family: "Lato";
  color: #0079ff;
  font-size: 13px;
  line-height: 16px;
  font-weight: 900;
  margin: 0px;
}

.folderItems {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.allFolderItem {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 24px;
  margin-bottom: 2px;
  height: 30px;
}
.allFolderItem img {
  padding: 0px 14px 0px 0px;
}

.mainItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.mainItem p {
  margin: 0px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;

  letter-spacing: 0.01em;

}
.folderLine span {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 9px;
  background-color: #5585ff;
  width: 6px;
  height: 30px;
}

.number {
  background: #b3d6ff4d;
  border-radius: 4px;
  color: #67768f;
  padding: 3px;
}

.help {
  position: relative;
  margin: 0;
  left: 24px;

  text-decoration: none;
  width: 100%;

  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;

  letter-spacing: 0.01em;


  color: #334d6e;
}

.footerDiv {
  height: 44px;
  display: flex;
  width: 257px;
  align-items: center;
  justify-content: center;
}
